*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald' , sans-serif;
}


/************************HEDER*****************************/

header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.solid-header{
    position: fixed;
    background: #3f372d75;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    transition: background-color 0.5s ease;
}

#header-logo{
    height: 24px;
}

header a{
    color: white;
    margin-left: 24px;
}

header a:hover{
    color: white;
}

header a:visited{
    color: white;
}



/************************HERO SECTION*****************************/

.row {margin: 0;}

#hero-section {
    background-image: linear-gradient(to right, #36313782, #36313782),  url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-logo{
    width: 256px;
}

#arrow-down { 
    position: absolute;
    bottom: 64px;
    left: 0;
    right: 0;
    margin: 0  auto;
    display: block;
    width: 64px;
}

/************************INTRO SECTION*****************************/

#intro-section{
    background-color: #eae7de;
}

#fresh-beans{
    background-image: url(../img/fresh-beans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 100vh;

}

@media screen and (max-width: 1200px ) {
    #fresh-beans {
        background-image: none;
        height: auto;
        
    }
    #fresh-beans p {
        color: rgb(107, 107, 107);
    }
}

@media screen and (min-width: 1200px ) {
    #fresh-beans {
   color: white;
    }


}



/************************MENU SECTION *****************************/

#menu-section{
    background-color:  #eae7de;
}

/************************CONTACT SECTION *****************************/ 

#contact{
    background-image: url(../img/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
}

#info-contact{
    height: 50vh;
    background-color: #3f372dbe ;
}

#map , #map-col{
    padding: 0;

}

#map-g{
    height: 450px;
}

#footer{
    background-color: #463528;
}

#btn{
    display: none;
}

@media screen and (max-width: 1200px ){
    #contact {
        height: 100vh;
    }
}

@media screen and (max-width : 1000px) {
    #btn{
        display: block;
        position: fixed;
        z-index: 1;
    }
    
    .links{
        display: none;
    }
}

#mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #3f372d75;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    z-index: 2;
    display: none;
}

#mobile-menu a {
    color: white;
}

#mobile-menu a:hover {
    color: rgb(175, 171, 171);
}

#mobile-menu #close-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    
}

#img{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 30px;
}